@font-face {
   font-family: "AFKlampenborg-Medium";
   src: url(../fonts/AFKlampenborg-Medium/AFKlampenborg-Medium.eot);
   src: url(../fonts/AFKlampenborg-Medium/AFKlampenborg-Medium.otf);
   src: url(../fonts/AFKlampenborg-Medium/AFKlampenborg-Medium.ttf);
   src: url(../fonts/AFKlampenborg-Medium/AFKlampenborg-Medium.woff);
 }

body {
	background: linear-gradient(#ced8d9, #fff);
	background-repeat: no-repeat;
	width: 776px;
	margin: auto;
}

header .account {
	float: right;
	width: 158px;
	height: 24px;
	background-color: #fff;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;
}


header .account span:after {
	content: "|";
	margin: 0 7px;
}

header .account span:last-child::after {
	content: "";
}


header .registration {
	font: 400 11px/20px Arial;
	color: #747474; 
	margin-left: 22px;
} 

header .vertical-sign {
	color: #959595;
	margin-left: 5px;
	margin-right: 5px;
}

header .login-link {
	font: 400 11px/20px Arial;
	color: #02a4fa;
}

.logo {
	margin-left: -4px;
	margin-top: 41px;
}

.managers {
	width: 101px;
	height: 38px;
	font: 500 21px/19px "AFKlampenborg-Medium";
	color: #939598;
	margin-top: 62px;
	margin-left: -6px;
	position: absolute;
}

.it-company {
	float: right;
	font: 400 15px/33px "Helios-Regular";
	margin-top: 62px;
}

nav {
	margin-top: -10px;
	height: 45px;
	border-bottom: 1px solid gray;
}

nav ul {
	float: right;
	margin-right: 27px;
	width: 399px;
}

nav ul li {
	float: left;
	font: 400 16px Arial;
	
	
}
nav ul li:first-child {
	width: 113px;
	color: #45b8fb;
	background: linear-gradient(#fff, #e8eced);
	border-top: 1px solid #939598;
	border-left: 1px solid #939598;
	border-top-left-radius: 30px;
}

nav ul li:nth-child(2) {
	width: 113px;
	color: #939598;
	background-color: #e5e9e9;
	border-top: 1px solid #939598;
	border-left: 1px solid #939598;
}

nav ul li:last-child {
	width: 113px;
	color: #939598;
	background-color: #e5e9e9;
	border: 1px solid #939598;
	border-top-right-radius: 30px;
}
aside {
	float: left;
	width: 230px;
}

aside h2 {
	margin-top: 25px;
	margin-bottom: 33px;
}

aside a:link.category {
	font: 400 20px/33px Arial;
	color: #03a7fe;
	background: url(../images/layer-31.png);
	background-repeat: no-repeat;
	margin-top: 29px;
	margin-left: 104px;
}






dl dt {
	float: left;
}
