/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "AFKlampenborg-Medium";
  src: url(../fonts/AFKlampenborg-Medium/afklampenborg-medium-webfont.eot);
  src: url(../fonts/AFKlampenborg-Medium/afklampenborg-medium-webfont.ttf);
  src: url(../fonts/AFKlampenborg-Medium/afklampenborg-medium-webfont.woff);
  src: url(../fonts/AFKlampenborg-Medium/afklampenborg-medium-webfont.woff2);
}
@font-face {
  font-family: "HeliosRegular";
  src: url(../fonts/HeliosRegular/HeliosExtThin-webfont.eot);
  src: url(../fonts/HeliosRegular/HeliosExtThin-webfont.ttf);
  src: url(../fonts/HeliosRegular/HeliosExtThin-webfont.woff);
  src: url(../fonts/HeliosRegular/HeliosExtThin-webfont.woff2);
}
/* line 24, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 28, ../sass/screen.scss */
body {
  background: linear-gradient(#ced8d9, #fff 30%) no-repeat;
}

/* line 32, ../sass/screen.scss */
.wrapper {
  width: 776px;
  margin: auto;
}

/* line 37, ../sass/screen.scss */
header .account {
  float: right;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
/* line 42, ../sass/screen.scss */
header .account:hover {
  border-radius: 0;
}

/* line 48, ../sass/screen.scss */
.registration {
  position: relative;
  display: inline-block;
  font: 400 11px/24px Arial;
  color: #747474;
  margin: 0 20px;
}
/* line 56, ../sass/screen.scss */
.registration .popup {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 380px;
  background: #fff;
  padding: 20px;
  border-radius: 30px 0 30px 30px;
  right: 0;
  margin-right: -68px;
}
/* line 68, ../sass/screen.scss */
.registration form {
  float: left;
  margin-right: 20px;
}
/* line 73, ../sass/screen.scss */
.registration li input {
  margin-bottom: 7px;
  padding-left: 7px;
  font: 400 18px/32px Arial;
  background: #d5f1fa;
  border-style: none;
  border-radius: 7px;
}

/* line 83, ../sass/screen.scss */
.registration:hover .popup {
  visibility: visible;
}

/* line 87, ../sass/screen.scss */
.popup input::-webkit-input-placeholder {
  color: #6badd4;
}

/* line 91, ../sass/screen.scss */
.avatar {
  padding-top: 8px;
  display: block;
  background: radial-gradient(#94dbff 50%, #17b0ff) no-repeat;
  border-radius: 10px;
}

/* line 98, ../sass/screen.scss */
a.upload {
  display: block;
  float: right;
  border: 2px solid #00a8ff;
  border-radius: 5px;
  margin: 10px 0 20px;
  padding: 5px 14px;
  font: 400 14px Arial;
  color: #00a8ff;
}

/* line 109, ../sass/screen.scss */
.registration input.submit {
  float: right;
  clear: both;
  width: 15%;
  border-style: none;
  border-radius: 5px;
  color: transparent;
  background: #00a8ff url(../images/enter.png) no-repeat 5px 3px;
  padding-bottom: 20px;
}

/* line 120, ../sass/screen.scss */
.login {
  position: relative;
  display: inline-block;
  font: 400 11px/24px Arial;
  color: #02a4fa;
  margin-right: 20px;
}
/* line 127, ../sass/screen.scss */
.login .popup {
  visibility: hidden;
  background: #fff;
  border-radius: 30px 0 30px 30px;
  padding: 0 20px 20px 20px;
  position: absolute;
  z-index: 1;
  right: 0;
  width: 420px;
  margin-right: -20px;
}
/* line 139, ../sass/screen.scss */
.login form {
  float: left;
}
/* line 142, ../sass/screen.scss */
.login form input {
  width: 160px;
  margin-right: 10px;
  background: #d5f1fa;
  border-style: none;
  padding-left: 7px;
  font: 400 18px/32px Arial;
  border-radius: 7px;
}
/* line 153, ../sass/screen.scss */
.login .submit {
  float: right;
  border-style: none;
  border-radius: 5px;
  color: transparent;
  background: #00a8ff url(../images/enter.png) no-repeat 5px 3px;
  padding-bottom: 15px;
  width: 15%;
}

/* line 164, ../sass/screen.scss */
.login:hover .popup {
  visibility: visible;
}

/* line 168, ../sass/screen.scss */
a.forgot-password {
  float: right;
  font: 400 11px Arial;
  color: #606060;
  margin-bottom: 10px;
}

/* line 175, ../sass/screen.scss */
h1 {
  float: left;
  margin: 17px 0 19px -4px;
}
/* line 179, ../sass/screen.scss */
h1 .logo {
  margin-bottom: -25px;
}
/* line 183, ../sass/screen.scss */
h1 .title {
  display: inline-block;
  width: 101px;
  font: 500 21px/19px "AFKlampenborg-Medium";
  color: #939598;
  margin-left: -8px;
}

/* line 192, ../sass/screen.scss */
.it-company {
  float: right;
  clear: right;
  font: 400 15px/33px "HeliosRegular";
  color: #646464;
  margin: 32px 29px 0 0;
}

/* line 200, ../sass/screen.scss */
nav {
  clear: both;
  height: 45px;
  border-bottom: 1px solid gray;
}
/* line 205, ../sass/screen.scss */
nav ul {
  float: right;
  margin-right: 27px;
}
/* line 209, ../sass/screen.scss */
nav ul li.active-page a {
  margin: 18px 36px 18px 40px;
  font: 400 16px/45px Arial;
  color: #45b8fb;
}
/* line 215, ../sass/screen.scss */
nav ul li.inactive-page a {
  margin: 18px 30px 18px 26px;
  font: 400 16px/44px Arial;
}
/* line 220, ../sass/screen.scss */
nav ul li:first-child {
  float: left;
  color: #45b8fb;
  background: linear-gradient(#fff 20%, #E0E7E7 90%);
  border-top: 1px solid #939598;
  border-left: 1px solid #939598;
  border-top-left-radius: 30px;
}
/* line 229, ../sass/screen.scss */
nav ul li:nth-child(2) {
  float: left;
  color: #939598;
  background-color: #e5e9e9;
  border-top: 1px solid #939598;
  border-left: 1px solid #939598;
  border-bottom: 1px solid #939598;
}
/* line 238, ../sass/screen.scss */
nav ul li:last-child {
  float: left;
  color: #939598;
  background-color: #e5e9e9;
  border: 1px solid #939598;
  border-top-right-radius: 30px;
}

/* line 248, ../sass/screen.scss */
aside {
  float: left;
  width: 230px;
}
/* line 252, ../sass/screen.scss */
aside h2 {
  margin: 25px 0 23px 0;
}
/* line 256, ../sass/screen.scss */
aside p.category {
  font: 400 20px/33px Arial;
  color: #03a7fe;
  background: url(../images/layer-31.png) no-repeat 98px 10px;
  padding-right: 30px;
}

/* line 264, ../sass/screen.scss */
ul.link li {
  border-bottom: 1px solid #cbcac9;
}
/* line 266, ../sass/screen.scss */
ul.link li:last-child {
  border-bottom: none;
  margin-bottom: 49px;
}

/* line 272, ../sass/screen.scss */
ul.link a:link {
  font: 400 14px/33px Arial;
  color: #555;
  padding-left: 15px;
  background: url(../images/arrow.png) no-repeat 0 2px;
}

/* line 279, ../sass/screen.scss */
.rss {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #cbcac9;
  border-bottom: 1px solid #cbcac9;
}
/* line 285, ../sass/screen.scss */
.rss a {
  font: 500 21px/19px "AFKlampenborg-Medium";
  color: #939598;
  background: url(../images/rss.png) no-repeat 22px 2px;
  border: 3px solid #ff9600;
  border-radius: 50px;
  padding: 3px 25px 2px 45px;
  text-decoration: none;
}

/* line 296, ../sass/screen.scss */
.rss a:hover {
  text-decoration: none;
}

/* line 300, ../sass/screen.scss */
.rss a:visited {
  border: 3px solid #ff9600;
}

/* line 304, ../sass/screen.scss */
.sponsors li {
  text-align: center;
  margin-top: 25px;
}

/* line 309, ../sass/screen.scss */
.sponsors a:link {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 314, ../sass/screen.scss */
.sponsors a:hover {
  -webkit-filter: grayscale(0);
}

/* line 318, ../sass/screen.scss */
.company {
  float: right;
}
/* line 321, ../sass/screen.scss */
.company h2 {
  margin: 64px 0 16px 0;
  font: 400 26px/33px Arial;
  color: #010101;
}
/* line 327, ../sass/screen.scss */
.company section {
  display: block;
  clear: both;
  border-top: 1px solid #00a7fb;
  width: 528px;
}
/* line 334, ../sass/screen.scss */
.company h3 {
  margin: 15px 0 7px 0;
  font: 400 22px/33px Arial;
  color: #03a7fe;
}
/* line 340, ../sass/screen.scss */
.company img {
  float: left;
  margin: 17px 21px 0 11px;
}

/* line 346, ../sass/screen.scss */
.about-company {
  width: 393px;
  float: right;
}
/* line 350, ../sass/screen.scss */
.about-company dt {
  float: left;
  background-color: #dfe5e6;
  font: 400 12px/33px Arial;
  color: #505050;
  width: 50%;
  padding-left: 4px;
}
/* line 359, ../sass/screen.scss */
.about-company dd {
  margin-bottom: 3px;
  background-color: #dfe5e6;
  font: 400 12px/33px Arial;
  color: black;
}
/* line 365, ../sass/screen.scss */
.about-company dd a:link {
  font: 400 12px/33px Arial;
  color: #21b0fb;
}

/* line 372, ../sass/screen.scss */
.ceo-contacts {
  width: 393px;
  float: right;
  margin-bottom: 20px;
}
/* line 377, ../sass/screen.scss */
.ceo-contacts dt {
  float: left;
  font: 400 12px/33px Arial;
  color: #505050;
  width: 50%;
  padding-left: 4px;
}
/* line 385, ../sass/screen.scss */
.ceo-contacts dd {
  background-color: #dfe5e6;
  font: 400 12px/33px Arial;
  color: black;
}
/* line 390, ../sass/screen.scss */
.ceo-contacts dd:nth-child(odd) {
  background-color: #eef1f2;
}
/* line 395, ../sass/screen.scss */
.ceo-contacts a:link {
  margin-left: 50%;
  font: 400 12px/33px Arial;
  color: black;
}

/* line 402, ../sass/screen.scss */
.fa {
  margin-right: 2px;
  font-size: 15px;
}

/* line 409, ../sass/screen.scss */
section.it {
  float: right;
  display: block;
  width: 500px;
}

/* line 415, ../sass/screen.scss */
article {
  margin-left: 20px;
}
/* line 418, ../sass/screen.scss */
article h3 {
  margin-top: 64px;
  padding-bottom: 15px;
  font: 200 26px/33px Arial;
  color: #010101;
  border-bottom: 1px solid #009eee;
}
/* line 426, ../sass/screen.scss */
article a:link {
  font: 400 12px/20px Arial;
  color: #21b0fb;
  text-decoration: underline;
  margin-left: 5px;
}
/* line 433, ../sass/screen.scss */
article div {
  display: block;
  margin-bottom: 40px;
}
/* line 437, ../sass/screen.scss */
article div p {
  float: left;
}
/* line 441, ../sass/screen.scss */
article div ul p {
  margin-left: 8px;
}
/* line 445, ../sass/screen.scss */
article div li {
  float: left;
}
/* line 450, ../sass/screen.scss */
article p {
  font: 400 12px/20px Arial;
  color: #505050;
}

/* line 457, ../sass/screen.scss */
.article-date {
  color: #c4c6c7;
  float: right;
}

/* line 462, ../sass/screen.scss */
.article-body {
  clear: both;
  margin: 20px 0;
}

/* line 467, ../sass/screen.scss */
.rating {
  float: left;
  width: 60px;
  background: url(../images/rating.png);
  background-repeat: no-repeat;
  background-position: 2px 5px;
  padding-left: 60px;
}

/* line 476, ../sass/screen.scss */
a:link.read-more {
  display: block;
  width: 155px;
  padding: 4px 8px;
  margin: 20px 0 20px 20px;
  font: 400 16px Arial;
  color: #000;
  border: 3px solid #00a5ff;
  border-radius: 15px;
  clear: both;
}

/* line 488, ../sass/screen.scss */
section.goals {
  float: right;
  display: block;
  width: 500px;
  margin-left: 20px;
}
/* line 494, ../sass/screen.scss */
section.goals img {
  width: 500px;
  margin-top: 20px;
}
/* line 499, ../sass/screen.scss */
section.goals p {
  font: 400 12px/20px Arial;
  color: #505050;
  margin-top: 10px;
}
/* line 505, ../sass/screen.scss */
section.goals span {
  display: block;
  font: 400 20px/20px Arial;
  color: #14adfe;
  margin-bottom: 20px;
}

/* line 514, ../sass/screen.scss */
footer {
  display: block;
  clear: both;
  height: 60px;
  border-top: 1px solid #b5b5b7;
}
/* line 520, ../sass/screen.scss */
footer p {
  float: right;
  width: 491px;
  margin-right: 25px;
  padding-left: 12px;
  font: 400 10px/33px Arial;
  color: #78797b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #d9dada url(../images/vector-smart-object.png) no-repeat 450px 7px;
}
